
body{
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: none;
    text-align: left;
}
a {
    text-decoration: none;
    color: #575757;
}
.button {
    background-color: #007bff;
    color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: center;
}

.hero {
    align-items: center;
    text-align: center;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0px;
}
.hero-content h1 {
    font-family: inter;
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
}
.hero-content p {
    font-family: inter;
    font-size: 22px;
    color: white;
}
.speakers {
    padding-top: 60px;
}
.speakers h2 {
    font-family: Inter;
    font-size: 52px;
    color: #000102;
    text-align: center;

}
.speaker-cards {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30px;
}
.speaker-card {
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}
.speaker-card h6 {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
    margin-bottom: -10px;
}
.speaker-card h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #0d1b2a;
    margin-bottom: -5px;
}
.speaker-card p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}
.speaker-info {
    padding: 0px 0px 10px 20px;
}
.pricing {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.pricing-plans {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
}
.pricing .title h2 {
    font-family: Inter;
    font-size: 48px;
    color: #0D1B2A;
    text-align: center;
    margin-bottom: -10px;
}
.pricing .title p {
    font-family: Inter;
    font-size: 16px;
    color: #575757;
    text-align: center;
    margin-bottom: 80px;
}
.card {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
}
.card h3 {
    font-family: Inter;
    font-size: 52px;
    color: #0D1B2A;
    margin: 0px;
}
.card p {
    font-family: Inter;
    font-size: 13px;
    color: #888888;
    margin: 0px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
}
.card ul {
    padding: 0px;
}
.card ul li {
    margin-top: 9px;
    font-family: Inter;
    font-size: 14px;
}
.price-button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px 50px;
    color: #f82525;
}
.card a {
    color: #000 !important;
}
.plan {
    font-family: Inter;
    font-size: 13px;
    color: #888888;
}
.active {
    background: #0D1B2A !important;
}
.active ul  {
    color: #f2f2f2 !important;
}
.active h3 {
    color: #f2f2f2
}
.active .plan {
    color: #93C5FD;
}
.fot {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    align-items: center;
}
.fot ul {
    list-style: none;
    display: flex;
    gap: 8px;
}
.fot ul a {
        color: #f2f2f2
}
.footer {
        background: #0D1B2A;
        padding: 20px;
}




.contact{
    padding:80px 20px;
    background:#f8f8f8;
}

.contact-title{
    text-align:center;
    margin-bottom:40px;
}

.contact-title h2{
    font-size:36px;
    margin-bottom:10px;
}

.contact-title p{
    color:#666;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.form-group{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:6px;
    outline:none;
    font-size:16px;
}

.contact-form textarea{
    height:160px;
    resize:none;
}

.contact-form button{
    width:180px;
    padding:15px;
    border:none;
    background:#2563eb;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}